name: Test

on:
  pull_request:
    branches: [develop]
  push:
    branches: [develop]
concurrency:
  group: ci-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node: [16.x]
        os: [ubuntu-latest, windows-latest, macos-latest]
    env:
      CHROME_WIN: ${{ secrets.CHROME_WIN }}
      CHROME_LINUX: ${{ secrets.CHROME_LINUX }}
      CHROME_MAC: ${{ secrets.CHROME_MAC }}

    name: Test - ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Install Chrome
        uses: browser-actions/setup-chrome@latest
      - name: Change endline (windows)
        if: ${{runner.os == 'Windows'}}
        run: npx chendln -t crlf -i yarn.lock
      - name: Install dependencies
        run: yarn
      - name: Lint
        run: yarn lint
      - name: Test
        run: yarn test
